.App {
  text-align: center;
  background: url("../assets/dark.png"); /*from http://subtlepatterns.com*/
  background-size: 100vw;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.white-text
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.header-container
{
  max-width: 800px;
  padding: 15px;;
}

.App-link {
  color: #61dafb;
}

h4
{
  margin-bottom: 0px;
  margin-top: 20px;
  text-transform: capitalize;
}

h3
{
  margin-top: 10px;
}

.App input, .App button
{
  margin: 0px 15px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: #fff;
  transition: all .3s ease;
}

.App button
{
  cursor: pointer;
}

.App input:hover, .App button:hover, .App input:focus, .App button:focus
{
  margin: 0px 15px;
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: black;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,1);
}

@media(max-width: 1131px)
{
  .App {
    text-align: center;
    background: url("../assets/dark_media.png"); /*from http://subtlepatterns.com*/
  }
}